* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    
}

body {
    background: rgb(49, 49, 49);
}

h1 {
    font-size: 46px;
    font-weight: 400;
}

h2 {
    font-size: 36px;
    font-weight: 300;
}

h1, h2{
    text-align: center;
    margin-bottom: 25px;
    color: white;
}

.names {
    font-size: 36px;
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
    color: white;
    font-weight: 300;
}

.score {
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
    text-align: center;
    margin-top: 75px;
}

#currentWinner {
    color: white;
    text-align: center;
    margin-top: 100px;
    font-size: 26px;
}

.playzone {
    height: 500px;
    width: 80vw;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    margin-top: -300px;
}

.reload {
    height: 50px;
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    visibility: hidden;
}

.userPlayzone {
    height: 80vh;
    width: 50vh;
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.opponentPlayzone {
    height: 80vh;
    width: 50vh;
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.userButtons img, .opponentButtons img {
    width: 150px;
    height: 150px;
    background: rgb(49, 49, 49);
}

.userButtons, .opponentButtons {
    display: flex;
    gap: 25px;
}

.userButtons button {
    border-radius: 20%;
    background-color: rgb(49, 49, 49);
}

.opponentButtons button {
    border-radius: 20%;
    background-color: rgb(49, 49, 49);
}

.opponentScore, .userScore {
    font-size: 82px;
    color: white;
}

.rules {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rules p {
    color: white;
    font-size: 20px;
    font-weight: 300;
}